* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inconsolata", monospace;
}
header {
    display: flex;
    align-items: center;
    margin-bottom: 40px;          
}
header img {
    height: 100px; /* altura do elemento*/
    margin-right: -16px;    
}
header h1 {
    font-size: 40px;
    font-weight: bold;
}
.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

form {
    display: flex; /* deixa os elementos um ao lado outro */
    max-width: 550px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 16px; 
} 
form input {
    font-size: 18px;
    padding: 8px;   
    border-radius: 5%;
    border: none;
    background: #cccecd;
    
}
form button {
    background-color: #4b4e4c;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    padding: 8px; 
    border-radius: 5%;   
} 
table {
    width: 100%;
    max-width: 550px;

}
table th {
    border-bottom: 2px solid #000;
    padding-left:0 ;
    padding-top: 16px;
    font-size: 24px;
    font: bold;
}
table td {
    text-align: center;
    font-size: 18px; 
    border-bottom: 1px solid rgb(0,0,0,0.1); 
    padding: 6px;  
}






